<%= render 'layouts/navbar' %>
<div class="row">
  <div class="col-md-4 offset-md-4" style="text-align: center">

    <%= form_for(cliente, html: {class: "form-signin"}) do |f| %>

      <% if cliente.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

        <ul>
          <% cliente.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <h2>Cliente nuevo</h2>
      <br>
      <div class="field">
        <%= f.label :credencial_cliente, class: 'sr-only' %>
        <%= f.text_field :credencial_cliente, class: 'form-control', placeholder: 'Credencial del cliente' %>
      </div>
      <br>
      <div class="field">
        <%= f.label :empresa_cliente, class: 'sr-only' %>
        <%= f.text_field :empresa_cliente, class: 'form-control', placeholder: 'Nombre de la empresa' %>
      </div>
      <br>
      <div class="field">
        <%= f.label :responsable_cliente, class: 'sr-only' %>
        <%= f.text_field :responsable_cliente, class: 'form-control', placeholder: 'Nombre del responsable' %>
      </div>
      <br>
      <div class="field">
        <%= f.label :telefono_cliente, class: 'sr-only' %>
        <%= f.phone_field :telefono_cliente, class: 'form-control', placeholder: 'Teléfono' %>
      </div>
      <br>
      <div class="field">
        <%= f.label :email_cliente, class: 'sr-only' %>
        <%= f.text_field :email_cliente, class: 'form-control', placeholder: 'Correo electrónico' %>
      </div>
      <br>
      <div class="field">
        <%= f.label :comisionista_cliente, class: 'sr-only' %>
        <%= f.text_field :comisionista_cliente, class: 'form-control', placeholder: 'Nombre del comisionista' %>
      </div>
      <br>
      <div class="field">
        <%= f.label :porcentage_cliente, class: 'sr-only' %>
        <%= f.number_field :porcentage_cliente, class: 'form-control', placeholder: 'Porcentage para el comisionista' %>
      </div>
      <br>
      <div class="actions">
        <%= f.submit "Crear", class: 'btn btn-lg btn-primary' %>
      </div>

    <% end %>

  </div>
</div>
