<%= render 'layouts/navbar' %>

<div class="row">
  <div class="col-md-10 offset-md-1">
    <h2 style="text-align:center">Clientes</h2>
    <br>
    <table class="table table-responsive">
      <thead>
        <tr>
          <th>Empresa</th>
          <th>Ahorro</th>
          <th>Participación OTS</th>
          <th>Participación comisionista</th>
          <th>Sobres gas</th>
          <th>Sobres diesel</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @clientes.each do |cliente| %>
        <tr>
          <td><%= cliente.empresa_cliente %></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><%= link_to 'Show', cliente %></td>
          <td><%= link_to 'Edit', edit_cliente_path(cliente) %></td>
          <td><%= link_to 'Destroy', cliente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
