<%= render 'layouts/navbar' %>

<div class="row">
  <div class="col-md-4 offset-md-4" style="text-align: center">
    <h4><%= @cliente.empresa_cliente %></h4>

    <table class="table">
      <tr>
        <td>
          <strong>Credencial</strong>
        </td>
        <td>
          <p><%= @cliente.credencial_cliente %></p>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Contacto</strong>
        </td>
        <td>
          <p><%= @cliente.responsable_cliente %></p>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Teléfono</strong>
        </td>
        <td>
          <p><%= @cliente.telefono_cliente %></p>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Correo electrónico</strong>
        </td>
        <td>
          <p><%= @cliente.email_cliente %></p>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Comisionista</strong>
        </td>
        <td>
          <p><%= @cliente.comisionista_cliente %></p>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Porcentage</strong>
        </td>
        <td>
          <p><%= @cliente.porcentage_cliente %></p>
        </td>
      </tr>
    </table>
    <%= link_to 'Editar', edit_cliente_path(@cliente), class: 'btn btn-warning' %>
  </div>
</div>
