<body>
  <%= render 'layouts/navbar' %>
  <h2 style="text-align: center">Cliente nuevo:</h2>

  <%= form_for :cliente do |f| %>
    <div class="row">
      <div class="col-md-4 offset-md-4" style="text-align: center">
        <div class="form-signin">
          <br>
          <div class="field">
            <%= f.label :id_cliente, class: 'sr-only' %><br />
            <%= f.text_field :id_cliente, autofocus: true, class: 'form-control', placeholder: 'Credencial del cliente' %>
          </div>
          <div class="field">
            <%= f.label :nombreempresa_cliente, class: 'sr-only' %><br />
            <%= f.text_field :nombreempresa_cliente, autofocus: true, class: 'form-control', placeholder: 'Nombre de la empresa' %>
          </div>
          <div class="field">
            <%= f.label :nombreresponsable_cliente, class: 'sr-only' %><br />
            <%= f.text_field :nombreresponsable_cliente, autofocus: true, class: 'form-control', placeholder: 'Nombre del responsable' %>
          </div>
          <div class="field">
            <%= f.label :tel_cliente, class: 'sr-only' %><br />
            <%= f.phone_field :tel_cliente, autofocus: true, class: 'form-control', placeholder: 'Teléfono' %>
          </div>
          <div class="field">
            <%= f.label :email_cliente, class: 'sr-only' %><br />
            <%= f.email_field :email_cliente, autofocus: true, class: 'form-control', placeholder: 'Correo electrónico' %>
          </div>
          <div class="field">
            <%= f.label :comisionista_cliente, class: 'sr-only' %><br />
            <%= f.text_field :comisioista_cliente, autofocus: true, class: 'form-control', placeholder: 'Nombre del comisionista' %>
          </div>
          <div class="field">
            <%= f.label :porcentagecomisionista_cliente, class: 'sr-only' %><br />
            <%= f.number_field :porcentagecomisioista_cliente, autofocus: true, class: 'form-control', placeholder: 'Porcentage del comisionista' %>
          </div>

          <br>
          <div class="actions">
            <%= f.submit "Crear", class: 'btn btn-lg btn-success' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</body>
