<%= render 'layouts/navbar' %>
<% if current_user %>

  <% if current_user.AdminStatus? %>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h2 style="text-align:center">Vehiculos</h2>
        <br>
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>Placas</th>
              <th>Operador vehiculo</th>
              <th>Marca</th>
              <th>Modelo</th>
              <th>Rendimiento histórico</th>
              <th>Rendimiento promedio</th>
              <th>Ahorro</th>
              <th>Litros Cargados</th>
              <th>Detalles</th>
              <th>Eliminar</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody style="text-align:center">
            <% @vehiculos.each do |vehiculo| %>
            <tr>
              <td><%= vehiculo.placas_vehiculo %></td>
              <td><%= vehiculo.operador_vehiculo %></td>
              <td><%= vehiculo.marca_vehiculo %></td>
              <td><%= vehiculo.modelo_vehiculo %></td>
              <td><%= vehiculo.rendimientohistorico_vehiculo %></td>
              <td><%= vehiculo.calcula_rendimiento.round(2) %></td>
              <td>$ <%= vehiculo.calcula_ahorro.round(2) %></td>
              <td><%= vehiculo.calcula_litroscargados.round(2) %></td>
              <td><%= link_to '', vehiculo, class: 'btn btn-info' %></td>
              <td><%= link_to '', vehiculo, method: :delete, data: { confirm: '¿Estás seguro de eliminar este vehículo?' }, class: 'btn btn-danger' %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% elsif current_user.rol_user == "cliente" %>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <% @clie = Cliente.where(:credencial_cliente => current_user.credencialcliente_user).first %>
        <h2><%= @clie.empresa_cliente %></h2>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-9 offset-md-2">
        <% @vehic = Vehiculo.where(:credencialcliente_vehiculo => current_user.credencialcliente_user) %>
        <% @vehic.each do |vehiculo| %>
          <h2><%= vehiculo.placas_vehiculo %> - <%= vehiculo.marca_vehiculo %> <%= vehiculo.modelo_vehiculo %> <%= vehiculo.ano_vehiculo %></h2>
          <h2> Rendimiento histórico: <%= vehiculo.rendimientohistorico_vehiculo %> | Rendimiento Actual:  <%= vehiculo.calcula_rendimiento.round(2)%>|% de mejora: <%=(((vehiculo.calcula_rendimiento-vehiculo.rendimientohistorico_vehiculo)*100)/vehiculo.rendimientohistorico_vehiculo).round(2)%>%</h2>
          <div class="row">
            <div class="col-md-10 offset-md-1">
              <br>
              <table class="table table-responsive" style="text-align:center;">
                <thead>
                  <tr>
                    <th style="text-align:center;">Proveedor</th>
                    <% if vehiculo.horas_vehiculo %>
                      <th style="text-align:center;">Horas</th>
                    <% else %>
                      <th style="text-align:center;">Kilometraje</th>
                    <% end %>
                    <th style="text-align:center;">Combustible</th>
                    <th style="text-align:center;">Precio del combustible</th>
                    <th style="text-align:center;">Fecha</th>
                  </tr>
                </thead>
                <tbody>
                  <% @recib = Recibo.where(:placas_recibo => vehiculo.placas_vehiculo).order(:created_at) %>
                  <% @combustible_suma =0%>
                  <% @recib.each do |recibo| %>
                  <% @combustible_suma = @combustible_suma + recibo.combustible_recibo%>
                  <tr>
                    <td><%= recibo.tercero_recibo %></td>
                    <td><%= recibo.kmactual_recibo %></td>
                    <td><%= recibo.combustible_recibo %></td>
                    <td><%= recibo.preciogas_recibo %></td>
                    <td><%= recibo.created_at.strftime("%e / %b / %Y") %></td>
                  </tr>
                  <% end %>
                  <tr>
                    <td>Totales</td>
                    <td><%= (@recib.last.kmactual_recibo-@recib.first.kmactual_recibo)%></td>
                    <td><%= @combustible_suma%></td>
                    <td></td>
                    <td></td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <br>
    <% elsif current_user.rol_user == "tercero" %>

  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h2><%= current_user.nombre_user %></h2>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-9 offset-md-2">
      <% @vehi = Vehiculo.where(:tercero_vehiculo => current_user.nombre_user) %>
      <% @vehi.each do |vehiculo| %>
        <h2><%= vehiculo.placas_vehiculo %> - <%= vehiculo.marca_vehiculo %> <%= vehiculo.modelo_vehiculo %> <%= vehiculo.ano_vehiculo %> </h2>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <br>
            <table class="table table-responsive" style="text-align:center;">
              <thead>
                <tr>
                  <% if vehiculo.horas_vehiculo %>
                    <th style="text-align:center;">Horas</th>
                  <% else %>
                    <th style="text-align:center;">Kilometraje</th>
                  <% end %>
                  <th style="text-align:center;">Combustible</th>
                  <th style="text-align:center;">Sobres aplicados</th>
                  <th style="text-align:center;">Precio del combustible</th>
                  <th style="text-align:center;">Fecha</th>
                </tr>
              </thead>
              <tbody>
                <% @recib = Recibo.where(:placas_recibo => vehiculo.placas_vehiculo) %>
                <% @recib.each do |recibo| %>
                <tr>
                  <td><%= recibo.kmactual_recibo %></td>
                  <td><%= recibo.combustible_recibo %></td>
                  <td><%= recibo.sobres_recibo %></td>
                  <td><%= recibo.preciogas_recibo %></td>
                  <td><%= recibo.created_at.strftime("%e / %b / %Y") %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <br>
  <% else%>
    <%= render 'layouts/error' %>
  <% end %>

<% end %>
