<%= render 'layouts/navbar' %>
<div class="row">
  <div class="col-md-10 offset-md-1">
    <h2 style="text-align:center">Vehiculos</h2>
    <br>
    <table class="table table-responsive">
      <thead>
        <tr>
          <th>Placas</th>
          <th>Operador vehiculo</th>
          <th>Marca</th>
          <th>Modelo</th>
          <th>Rendimiento</th>
          <th>Ahorro</th>
          <th>Litros Cargados</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @vehiculos.each do |vehiculo| %>
        <tr>
          <td><%= vehiculo.placas_vehiculo %></td>
          <td><%= vehiculo.operador_vehiculo %></td>
          <td><%= vehiculo.marca_vehiculo %></td>
          <td><%= vehiculo.modelo_vehiculo %></td>
          <td></td>
          <td></td>
          <td><%= Recibo.where(:placas_recibo => vehiculo.placas_vehiculo).sum(:combustible_recibo) %></td>
          <td><%= link_to 'Detalles', vehiculo %></td>
          <td><%= link_to 'Eliminar', vehiculo, method: :delete, data: { confirm: '¿Estás seguro de eliminar este vehículo?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
