<%= render 'layouts/navbar' %>
<% if current_user %>

  <% if current_user.AdminStatus? %>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h2 style="text-align:center">Vehiculos</h2>
        <br>
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>Placas</th>
              <th>Operador vehiculo</th>
              <th>Marca</th>
              <th>Modelo</th>
              <th>Rendimiento histórico</th>
              <th>Rendimiento promedio</th>
              <th>Ahorro</th>
              <th>Litros Cargados</th>
              <th>Detalles</th>
              <th>Eliminar</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody style="text-align:center">
            <% @vehiculos.each do |vehiculo| %>
            <tr>
              <td><%= vehiculo.placas_vehiculo %></td>
              <td><%= vehiculo.operador_vehiculo %></td>
              <td><%= vehiculo.marca_vehiculo %></td>
              <td><%= vehiculo.modelo_vehiculo %></td>
              <td><%= vehiculo.rendimientohistorico_vehiculo %></td>
              <td><%= vehiculo.calcula_rendimiento.round(2) %></td>
              <td>$ <%= vehiculo.calcula_ahorro.round(2) %></td>
              <td><%= vehiculo.calcula_litroscargados.round(2) %></td>
              <td><%= link_to '', vehiculo, class: 'btn btn-info' %></td>
              <td><%= link_to '', vehiculo, method: :delete, data: { confirm: '¿Estás seguro de eliminar este vehículo?' }, class: 'btn btn-danger' %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% elsif current_user.rol_user == "cliente" %>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h2 stye="text-align:center;">Telcel</h2>
        <br>
        <% @vehiculos.each do |tercero| %>
          <div class="row">
            <div class="col-md-9 offset-md-2">
              <h3>Tercero 1</h3>
            </div>
          </div>

          <table class="table table-responsive">
            <thead>
              <tr>

              </tr>
            </thead>
          </table>
        <% end %>
      </div>
    </div>
  <% elsif current_user.rol_user == "tercero" %>

  <% else%>
    <%= render 'layouts/error' %>
  <% end %>

<% end %>
