<p id="notice"><%= notice %></p>

<p>
  <strong>Empresa filtro:</strong>
  <%= @filtro.empresa_filtro %>
</p>

<p>
  <strong>Fechainicio filtro:</strong>
  <%= @filtro.fechainicio_filtro %>
</p>

<p>
  <strong>Fechafin filtro:</strong>
  <%= @filtro.fechafin_filtro %>
</p>

<%= link_to 'Edit', edit_filtro_path(@filtro) %> |
<%= link_to 'Back', filtros_path %>
