<%= form_for(alertum) do |f| %>
  <% if alertum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(alertum.errors.count, "error") %> prohibited this alertum from being saved:</h2>

      <ul>
      <% alertum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo_alerta %>
    <%= f.text_field :titulo_alerta %>
  </div>

  <div class="field">
    <%= f.label :contenido_alerta %>
    <%= f.text_field :contenido_alerta %>
  </div>

  <div class="field">
    <%= f.label :leido_alerta %>
    <%= f.check_box :leido_alerta %>
  </div>

  <div class="field">
    <%= f.label :emailuser_alerta %>
    <%= f.text_field :emailuser_alerta %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
