<div class="row">
  <div class="col-md-4 offset-md-4" style="text-align: center">
    <%= form_for(recibo, html: {class: "form-signin"}) do |f| %>

      <% if recibo.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(recibo.errors.count, "error") %> prohibited this recibo from being saved:</h2>

        <ul>
          <% recibo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <h2>Recibo nuevo</h2>
      <br>
      <div class="field">
        <%= f.label :placas_recibo, class: 'sr-only'%>
        <%= f.text_field :placas_recibo, class: 'form-control', placeholder: 'Placas' %>
      </div>
      <br>
      <div class="field">
        <%= f.label :kmactual_recibo, class: 'sr-only'%>
        <%= f.number_field :kmactual_recibo, class: 'form-control', placeholder: 'Kilometraje actual' %>
      </div>
      <br>
      <div class="field">
        <%= f.label :combustible_recibo, class: 'sr-only' %>
        <%= f.number_field :combustible_recibo, class: 'form-control', placeholder: 'Litros de combustible' %>
      </div>
      <br>
      <div class="field">
        <%= f.label :sobres_recibo, class: 'sr-only' %>
        <%= f.text_field :sobres_recibo, class: 'form-control', placeholder: 'Cantidad de sobres' %>
      </div>
      <br>
      <div class="field">
        <%= f.label :preciogas_recibo, class: 'sr-only' %>
        <%= f.text_field :preciogas_recibo, class: 'form-control', placeholder: 'Precio actual del combustible' %>
      </div>
      <br>
      <em>Fotografía del recibo de carga de gasolina.</em>
      <input type="File" class="form-control" placeholder="Placa">
      <br>
      <div class="actions">
        <%= f.submit "Crear", class: 'btn btn-lg btn-primary' %>
      </div>

    <% end %>
  </div>
</div>
