<%= wicked_pdf_stylesheet_link_tag "pdf.css" -%>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>

  <body>

      <!-- Reporte mensual -->
      <div class="row">
        <div class="col-xs-12">
        </div>
        <br>
      </div>
      <!-- Información esencial y logo -->
      <div class="row">
        <div class="col-xs-6">
          <h1>Reporte Mensual</h1>
          <% @cliente = Cliente.where(:credencial_cliente => Filtro.last.empresa_filtro).first %>
          <h2> <%= @cliente.empresa_cliente %> </h2>
          <br>
          <table class="center table table-responsive">
            <tr bgcolor="#97d700">
              <td><strong>Ahorro</strong></td>
              <td>$ <%= @cliente.calcula_ahorro.round(2)%></td>
            </tr>
            <tr>
              <td><strong>Total a pagar</strong></td>
              <% @total = @cliente.calcula_ahorro.round(2)/2 %>
              <td>$ <%= @total.round(2)%></td>
            </tr>
            <tr>
              <td><strong>Periodo</strong></td>
              <td><%= Filtro.last.fechainicio_filtro.to_date.strftime("%e/%b/%Y") %>  -  <%= Filtro.last.fechafin_filtro.to_date.strftime("%e/%b/%Y") %></td>
            </tr>
          </table>
        </div>
        <div class="col-xs-6 image_space">
          <%= wicked_pdf_image_tag ("pdflogo.png"), :class => "image_center" %>
        </div>
      </div>
      <!-- Desglosado de los recibos -->
      <div class="row">
        <div class="col-xs-12">
          <br>
          <% @vehiculo = Vehiculo.where(:credencialcliente_vehiculo => @cliente.credencial_cliente) %>
          <% @vehiculo.each do |vehiculo| %>
            <table class="table table-responsive">
              <tr bgcolor="#97d700">
                <td><strong><%= vehiculo.placas_vehiculo %></strong></td>
                <td><strong><%= vehiculo.marca_vehiculo %></strong></td>
                <td><strong><%= vehiculo.modelo_vehiculo %></strong></td>
                <td><strong><%= vehiculo.ano_vehiculo %></strong></td>
              </tr>
            </table>
            <table class="table table-responsive">
              <tr>
                <td>Folio</td>
                <td>Kilometraje</td>
                <td>Combustible</td>
                <td>Sobres aplicados</td>
                <td>Fecha</td>
              </tr>
              <% @recibo = Recibo.where(:placas_recibo => vehiculo.placas_vehiculo).where("created_at >= ? AND created_at < ?", Filtro.last.fechainicio_filtro.to_date, Filtro.last.fechafin_filtro.to_date) %>
              <% @recibo.each do |recibo| %>
                <tr>
                  <td><%= recibo.id %></td>
                  <td><%= recibo.kmactual_recibo %></td>
                  <td><%= recibo.combustible_recibo %></td>
                  <td><%= recibo.sobres_recibo %></td>
                  <td><%= recibo.created_at.strftime("%e / %b / %Y") %></td>
                </tr>
              <% end %>
            </table>

          <% end %>
        </div>
      </div>

  </body>
