<%= render 'layouts/navbar' %>

<div class="row">
  <div class="col-md-4 offset-md-4" style="text-align: center">
    <h4><%= @recibo.folio_recibo %></h4>
    <table class="table">
      <tr>
        <td>
          <strong>Kilometraje anterior</strong>
        </td>
        <td>
          <p><%= @recibo.kmanterior_recibo %></p>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Kilometraje actual</strong>
        </td>
        <td>
          <p><%= @recibo.kmactual_recibo %></p>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Combustible</strong>
        </td>
        <td>
          <p><%= @recibo.combustible_recibo %></p>
        </td>
      </tr>
    </table>
    <%= link_to 'Edit', edit_recibo_path(@recibo), class: "btn btn-warning" %>
  </div>
</div>
