<nav class="navbar navbar-light bg-faded">
  <div class='container'>
    <a class='navbar-brand' href='/'>
      OTS<span class='light'>Services</span>
    </a>
    <button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
      &#9776;
    </button>
    <ul class="nav navbar-nav pull-sm-right hidden-xs-down">
      <% if user_signed_in? %>

        <% if current_user && current_user.AdminStatus? %>
          <div class="dropdown nav-item">

            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              Reportes
            </button>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <%= link_to "Cliente", reporte_cliente_path, type: "button", class: "btn btn-default btn-block"%>
              <%= link_to "Vehiculo", reporte_vehiculo_path, type: "button", class: "btn btn-default btn-block"%>
              <%= link_to "Recibo", reporte_recibo_path, type: "button", class: "btn btn-default btn-block"%>
            </ulq>

          </div>

          <div class="dropdown nav-item">

            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              Dar de alta
            </button>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <%= link_to "Cliente", nuevo_cliente_path, type: "button", class: "btn btn-default btn-block"%>
              <%= link_to "Vehiculo", nuevo_vehiculo_path, type: "button", class: "btn btn-default btn-block"%>
              <%= link_to "Recibo", nuevo_recibo_path, type: "button", class: "btn btn-default btn-block"%>
            </ul>

          </div>

          <li class="nav-item">
            <%= link_to "Alertas", reporte_alerta_path, type: "button", class: "btn btn-primary"%>
          </li>

        <% else %>

        <div class="dropdown nav-item">
          <%= link_to "Solicitar producto", solicitud_path, type: "button", class: "btn btn-primary"%>
        </div>
        <% end %>

        <li class="nav-item">
          <%= link_to "Sign Out", destroy_user_session_path, type: "button", class: "btn btn-danger", :method => :delete%>
        </li>

      <% else %>
      <!--
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path, type: "button", class: "btn btn-success" %>
        </li>
      -->
        <li class="nav-item">
          <%= link_to "Log In", new_user_session_path, type: "button", class: "btn btn-success" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
